<section class='static-page about-page'>
  <div class='container'>

    <ul class='page-nav'>
      <li><a href="#about">{{{i18n 'static.about_site.title'}}}</a></li>
      <li><a href="#faq">{{{i18n 'static.about_site.faq'}}}</a></li>
      <li><a href="#contacts">{{{i18n 'static.about_site.contacts'}}}</a></li>
    </ul>

    <h2 id="about" class='page-title'>
      {{{i18n 'static.about_site.title'}}}
    </h2>


    {{{i18n 'static.about_site.description'}}}



    <div class="faq">
      <h2 id="faq">{{{i18n 'static.about_site.faq'}}}</h2>
      {{{model.post_stream.posts.0.cooked}}}
    </div>

    <div>
      <h2 id="contacts">{{{i18n 'static.about_site.contacts'}}}</h2>
      <p>{{{i18n 'static.about_site.all_questions'}}}: <a href="mailto:hello@securonauts.com">Hello@securonauts.com</a></p>
      <p>{{{i18n 'static.about_site.for_membership'}}}: <a href="mailto:membership@securonauts.com">Membership@securonauts.com</a></p>
      <p>{{{i18n 'static.about_site.for_sponsorship'}}}: <a href="mailto:sponsorship@securonauts.com">Sponsorship@securonauts.com</a></p>
    </div>
  </div>
</section>
