<section class="communities">
  <div class="map-wrapper">
    {{google-maps model=model}}
    {{maps-filters model=model useDateFilter=true}}
  </div>

  <div class="container">
    <div class='section-nav'>
      {{#link-to 'communities.groups' (query-params lat=model.lat lon=model.lon radius=model.radius) class='section-nav-item'}}
        {{ i18n 'communities.locate_groups' }}
      {{/link-to}}

      {{#link-to 'communities.events' (query-params lat=model.lat lon=model.lon radius=model.radius) class='section-nav-item' }}
        {{ i18n 'communities.locate_events' }}
      {{/link-to}}
    </div>

    {{loading-spinner condition=loading}}

    <div class="row" {{bind-attr class="loading:hidden"}}>
      {{#each group in model.results}}
        <div class="grid-item">
          <a {{bind-attr href=group.link}} target="_blank">
            <h3>{{group.name}}</h3>
            <span>{{group.members}} members</span>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>

{{render "footer"}}
