<section class="communities">
  <div class="map-wrapper">
    {{google-maps model=model}}
  </div>
  <div class="container">
    <h2 class="section-title">Local communities</h2>
    <div class="row">
      {{#each group in model.results}}
        <div class="grid-item">
          <a {{bind-attr href=group.link}} target="blank">
            <h3>{{group.name}}</h3>
            {{group.members}} members
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{render "footer"}}
