<section class='d-dropdown top-nav-dropdown' id='discussions-dropdown'>
  <ul>
    <li>
      {{#link-to 'discovery.top'}}
        {{i18n 'navigation.discussions.top'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'process'}}
        {{i18n 'navigation.discussions.process'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'design-architecture'}}
        {{i18n 'navigation.discussions.design_architecture'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'coding'}}
        {{i18n 'navigation.discussions.coding'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'testing-qa'}}
        {{i18n 'navigation.discussions.testing_qa'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'monitoring'}}
        {{i18n 'navigation.discussions.monitoring'}}
      {{/link-to}}
    </li>
  </ul>
</section>
