<div class='container'>
  {{custom-html "top"}}
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<div class='list-controls'>
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

{{loading-spinner condition=loading}}

<div {{bind-attr class="loading:hidden"}}>
  {{outlet "homepage"}}
</div>
