<div class="footer">
  <div class="container">
    <p class="copyright">© Copyright {{current-year}} - Continuous Security</p>
    {{#link-to 'blog'}}
      {{i18n 'footer.links.blog'}}
    {{/link-to}}
    |
    {{#link-to 'tos'}}
      {{i18n 'footer.links.terms_of_use'}}
    {{/link-to}}
    {{#link-to 'privacy'}}
      {{i18n 'footer.links.privacy_policy'}}
    {{/link-to}}
    {{#link-to 'contact'}}
      {{i18n 'footer.links.contact'}}
    {{/link-to}}
  </div>
</div>
