<div class="container">
  <h2 class="mb">{{model.name}}</h2>
  <div class="grid grid--wide">
    <div class="grid__item col-3-4">
      <p class="mb">
        {{model.description}}
      </p>
      <div class="toc-view">
        {{#each chapter in model.chapters}}
          <div class="sections">
            <a href="{{unbound chapter.href}}">
              <i class="fa fa-plus-circle"></i>
              <span class="num vertical-align--middle">
                <strong>{{chapter.position}}</strong>.00
              </span>
              <strong class="vertical-align--middle">{{chapter.name}}</strong>
            </a>

            <div class="collapsable-section hidden">
              {{#each chapter.topics as |topic index|}}
                <a href="{{unbound topic.relative_url}}">
                  <span class="num">
                    {{chapter.position}}.<strong>{{inc index}}</strong>
                  </span>
                  {{topic.title}}
                </a>
              {{/each}}
             </div>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="grid__item col-1-4">
      <a href="{{model.pdf_link}}" class="btn--primary btn--full mb--">
        <i class="sci sci__data--download"></i>
        {{model.pdf_text}}
      </a>
      <a href="/c/guides" class="btn--primary-clear btn--full mb--">
        Discuss
      </a>
    </div>
  </div>
</div>
