<div class="container">
  {{#each guide in model}}
    <div class="bo-b--1 mb pb">
      <h4 class="mb-">
        <a href="/guides/{{guide.slug}}"><i class="sci sci--lg sci__view--graph mr-"></i></a>
        <a href="/guides/{{guide.slug}}" class="vertical-align--middle mr+">
          {{guide.name}}
        </a>
      </h4>

      <div class="grid grid--wide">
        <div class="grid__item col-3-4">
          <p>{{guide.description}}</p>
          <ul class="list--unstyled">
            {{#each chapter in guide.chapters}}
              <li>
                <a href={{chapter.href}}>- {{chapter.name}}</a>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="grid__item col-1-4 text--center">
          <a href="{{unbound guide.pdf_link}}" download class="btn--primary btn--full">
            <i class="sci sci__data--download"></i>
            {{guide.pdf_text}}
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
