{{plugin-outlet "header-before-dropdowns"}}
{{user-menu visible=userMenuVisible logoutAction="logout"}}
{{hamburger-menu visible=hamburgerVisible showKeyboardAction="showKeyboardShortcutsHelp"}}
{{search-menu visible=searchVisible}}

<div class='top-bar bg-color--black-dark'>
  <div class='container'>
    <div class='contents clearfix'>
      {{home-logo minimized=showExtraInfo}}
      {{plugin-outlet "header-after-home-logo"}}
      <div class='clearfix pull--right'>
        {{#if currentUser}}
          {{plugin-outlet "header-before-notifications"}}
        {{/if}}
        <ul class='icons clearfix' role='navigation'>
          {{#if currentUser}}
            {{plugin-outlet "header-before-notifications"}}
            {{#header-dropdown iconId="current-user"
                               class="current-user"
                               showUser="true"
                               toggleVisible=userMenuVisible
                               loginAction="showLogin"
                               title="user.avatar.header_title"}}
              {{#if currentUser.unread_notifications}}
                <a href class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
              {{/if}}
              {{#if currentUser.unread_private_messages}}
                <a href class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
              {{/if}}
            {{/header-dropdown}}
          {{else}}
            {{login-buttons action="externalLogin"}}
          {{/if}}
          {{#header-dropdown iconId="search-button"
                             icon="search"
                             toggleVisible=searchVisible
                             loginAction="showLogin"
                             title="search.title"}}
          {{/header-dropdown}}
          {{#header-dropdown iconId="toggle-hamburger-menu"
                             icon="bars"
                             toggleVisible=hamburgerVisible
                             loginAction="showLogin"
                             title="hamburger_menu"}}
            {{#if flaggedPostsCount}}
              <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
            {{/if}}
          {{/header-dropdown}}
        </ul>
      </div>
      {{#if showExtraInfo}}
        <div class="extra-info-wrapper">
          <div class="extra-info">
            <div class="title-wrapper">
              <h1>
                {{#if showPrivateMessageGlyph}}
                  <span class="private-message-glyph">{{fa-icon "envelope"}}</span>
                {{/if}}

                {{#if topic.details.loaded}}
                  <a class='topic-link' href='{{unbound topic.url}}' {{action "jumpToTopPost"}}>{{{topic.fancy_title}}}</a>
                {{else}}
                  {{#if topic.errorLoading}}
                    <span class="error">{{topic.errorTitle}}</span>
                  {{/if}}
                {{/if}}
              </h1>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="container">
    <ul class="nav nav--tabs pull--left bo--0 p0">
      {{#link-to "guides" tagName="li" class="navbar__item"}}
        {{#link-to "guides" class="navbar__link"}}
          {{i18n "navigation.resources.title"}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "discovery.latest" tagName="li" class="navbar__item"}}
        {{#link-to "discovery.latest" class="navbar__link"}}
          {{i18n "navigation.discussions.title"}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "projects" tagName="li" class="navbar__item"}}
        {{#link-to "projects" class="navbar__link"}}
          {{i18n "navigation.projects.title"}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "newsletter" tagName="li" class="navbar__item"}}
        {{#link-to "newsletter" class="navbar__link"}}
          {{i18n "navigation.newsletter.title"}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "bughunt" tagName="li" class="navbar__item"}}
        {{#link-to "bughunt" class="navbar__link"}}
          {{i18n "navigation.bughunt.title"}}
        {{/link-to}}
      {{/link-to}}
    </ul>
    <ul class="social-connections pull--right">
      <li class="pull--right ml-">
        <a href="http://twitter.com/srcclr" class="social-link color--white border-color--white bo--1 lh+">{{fa-icon 'twitter'}}</a>
      </li>
      <li class="pull--right ml-">
        <a href="mailto:hello@srcclr.com" class="social-link color--white border-color--white bo--1 lh+">{{fa-icon 'envelope'}}</a>
      </li>
    </ul>
  </div>
</div>
