{{plugin-outlet "header-before-dropdowns"}}
{{user-menu visible=userMenuVisible logoutAction="logout"}}
{{hamburger-menu visible=hamburgerVisible showKeyboardAction="showKeyboardShortcutsHelp"}}
{{search-menu visible=searchVisible}}

<div class='top-bar bg-color--black-dark'>
  <div class='container'>
    <div class="grid grid--middle grid--full">
      <div class="grid__item col-1-8">
        <a href="/" class="color--white">
          <i class="sci sci__src-logo--primary lh--" style="font-size: 5em;"></i>
        </a>
      </div>
      <div class="grid__item col-5-8">
        <ul class="nav nav--tabs inline-block bo--0 p0">
          {{#link-to "guides" tagName="li" class="navbar__item navbar__item--guides"}}
            {{#link-to "guides" class="navbar__link"}}
              {{i18n "navigation.resources.title"}}
            {{/link-to}}
          {{/link-to}}
          {{#link-to "discovery.latest" tagName="li" class="navbar__item"}}
            {{#link-to "discovery.latest" class="navbar__link"}}
              {{i18n "navigation.discussions.title"}}
            {{/link-to}}
          {{/link-to}}
          {{#link-to "headlines" tagName="li" class="navbar__item"}}
            {{#link-to "headlines" class="navbar__link"}}
              {{i18n "navigation.security_headers.title"}}
            {{/link-to}}
          {{/link-to}}
          {{#link-to "newsletter" tagName="li" class="navbar__item"}}
            {{#link-to "newsletter" class="navbar__link"}}
              {{i18n "navigation.newsletter.title"}}
            {{/link-to}}
          {{/link-to}}
          {{#link-to "bughunt" tagName="li" class="navbar__item"}}
            {{#link-to "bughunt" class="navbar__link"}}
              {{i18n "navigation.bughunt.title"}}
            {{/link-to}}
          {{/link-to}}
        </ul>
      </div>
      <div class="grid__item col-1-4">
        {{#if currentUser}}
          {{plugin-outlet "header-before-notifications"}}
        {{/if}}
        <ul class="icons clearfix pull--right" role='navigation'>
          {{#if currentUser}}
            {{plugin-outlet "header-before-notifications"}}
            {{#header-dropdown iconId="current-user"
                               class="current-user"
                               showUser="true"
                               toggleVisible=userMenuVisible
                               loginAction="showLogin"
                               title="user.avatar.header_title"}}
              {{#if currentUser.unread_notifications}}
                <a href class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
              {{/if}}
              {{#if currentUser.unread_private_messages}}
                <a href class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
              {{/if}}
            {{/header-dropdown}}
          {{else}}
            {{login-buttons action="externalLogin"}}
          {{/if}}
          {{#header-dropdown iconId="search-button"
                             icon="search"
                             toggleVisible=searchVisible
                             loginAction="showLogin"
                             title="search.title"}}
          {{/header-dropdown}}
          {{#header-dropdown iconId="toggle-hamburger-menu"
                             icon="bars"
                             toggleVisible=hamburgerVisible
                             loginAction="showLogin"
                             title="hamburger_menu"}}
            {{#if flaggedPostsCount}}
              <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
            {{/if}}
          {{/header-dropdown}}
        </ul>
      </div>
    </div>
  </div>
</div>
