{{plugin-outlet "header-before-dropdowns"}}
{{user-menu visible=userMenuVisible logoutAction="logout"}}
{{hamburger-menu visible=hamburgerVisible showKeyboardAction="showKeyboardShortcutsHelp"}}
{{search-menu visible=searchVisible}}

<div class='wrap'>
  <div class='contents clearfix'>
    {{home-logo minimized=showExtraInfo}}
    {{plugin-outlet "header-after-home-logo"}}

    <div class='panel clearfix'>
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}}
          {{plugin-outlet "header-before-notifications"}}
        {{/if}}

        <li class="social-connections">
          <a href="http://twitter.com/Securonauts" class="social-link">{{fa-icon 'twitter'}}</a>
        </li>

        <li class="social-connections">
          <a href="mailto:hello@securonauts.com" class="social-link">{{fa-icon 'envelope'}}</a>
        </li>

        {{#if currentUser}}
          {{#header-dropdown iconId="current-user"
                             class="current-user"
                             showUser="true"
                             toggleVisible=userMenuVisible
                             loginAction="showLogin"
                             title="user.avatar.header_title"}}
            {{#if currentUser.unread_notifications}}
              <a href class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
          {{/header-dropdown}}
        {{/if}}

        {{#header-dropdown iconId="toggle-hamburger-menu"
                           icon="bars"
                           toggleVisible=hamburgerVisible
                           loginAction="showLogin"
                           title="hamburger_menu"}}
          {{#if flaggedPostsCount}}
            <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
          {{/if}}
        {{/header-dropdown}}
      </ul>
    </div>

    {{#if showExtraInfo}}
      {{header-extra-info topic=topic}}
    {{/if}}
  </div>
</div>
<div class='top-bar'>
  <div class='container'>
    <ul class="search">
      {{#header-dropdown iconId="search-button"
                         icon="search"
                         toggleVisible=searchVisible
                         loginAction="showLogin"
                         title="search.title"}}
      {{/header-dropdown}}
    </ul>
    <ul class='top-nav'>
      <li>
        {{#link-to 'guides'}}
          {{i18n 'navigation.resources.title'}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'discovery.latest'}}
          {{i18n 'navigation.discussions.title'}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'projects'}}
          {{i18n 'navigation.projects.title'}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'newsletter'}}
          {{i18n 'navigation.newsletter.title'}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'bughunt'}}
          {{i18n 'navigation.bughunt.title'}}
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
