<div class='container'>
  <div class='contents clearfix'>

    {{home-logo}}

    <div class='panel clearfix'>
      {{#unless currentUser}}
        {{#if showSignUpButton}}
          {{d-button action="showCreateAccount" class="btn-primary btn-small sign-up-button" label="sign_up"}}
        {{/if}}
        {{d-button action="showLogin" class="btn-primary btn-small login-button" icon="user" label="log_in"}}
      {{/unless}}
      <ul class='icons clearfix' role='navigation'>
        <li>
        {{#if loginRequired}}
          <a id='search-button' class='icon expand search-icon' href='#' aria-hidden="true" {{action "showLogin"}}>
            {{fa-icon "search"}}
          </a>
        {{else}}
          <a id='search-button'
             class='icon expand'
             href='#'
             data-dropdown="search-dropdown"
             title='{{i18n 'search.title'}}'>
             {{fa-icon "search" label="search.title"}}
          </a>
        {{/if}}
        </li>
        <li class="social-connections">
          <a href="http://linkedin.com" class="social-link"><i class="fa fa-linkedin"></i></a>
          <a href="http://twitter.com" class="social-link"><i class="fa fa-twitter"></i></a>
          <a href="http://facebook.com" class="social-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li class='categories dropdown'>
          {{#if loginRequired}}
            <a class='icon'
               href="#"
               aria-hidden="true"
               id="site-map"
               {{action "showLogin"}}>
               {{fa-icon "bars"}}
            </a>
          {{else}}
            <a class='icon'
               data-dropdown="site-map-dropdown"
               data-render="renderSiteMap"
               href="#"
               title='{{i18n 'site_map'}}'
               id="site-map">
               {{fa-icon "bars" label="site_map"}}
            </a>
          {{/if}}
          {{#if currentUser.site_flagged_posts_count}}
            <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{currentUser.site_flagged_posts_count}}</a>
          {{/if}}
        </li>
        {{#if currentUser}}
          <li class='current-user dropdown'>
            <a class='icon'
               data-dropdown="user-dropdown"
               data-render="renderUserDropdown"
               href="#"
               title='{{i18n 'user.avatar.title'}}'
               id="current-user">
                 {{bound-avatar currentUser "medium"}}
            </a>
          </li>
        {{/if}}
      </ul>

      {{#if view.renderDropdowns}}
        {{render "search"}}
        {{#if view.renderSiteMap}}
          {{render "site-map"}}
        {{/if}}

        {{render "user-dropdown"}}

      {{/if}}

    </div>

  </div>
</div>
<div class='top-bar-navigation'>
  <div class='container'>
    <nav class='top-nav'>
      <ul>
        <li class="dropdown">
          <a href='#' data-dropdown='about-dropdown'>
            About
            {{fa-icon 'chevron-down'}}
          </a>
          {{render "about-dropdown"}}
        </li>
        <li class='dropdown'>
          <a href='#' data-dropdown='discussions-dropdown'>
            Discussions
            {{fa-icon 'chevron-down'}}
          </a>

          {{render "discussions-dropdown"}}
        </li>
        <li class="dropdown">
          <a href='#' data-dropdown='communities-dropdown'>
            Communities
            {{fa-icon 'chevron-down'}}
          </a>

          {{render "communities-dropdown"}}
        </li>
        <li class="dropdown">
          <a href='#' data-dropdown='resources-dropdown'>
            Book &amp; Resources
            {{fa-icon 'chevron-down'}}
          </a>

          {{render "resources-dropdown"}}
        </li>
      </ul>
    </nav>
  </div>
</div>
