<div class='top-bar bg-color--black-dark'>
  <div class='container'>
    <div class='contents clearfix'>
      {{home-logo minimized=showExtraInfo}}
      <div class='clearfix pull--right'>
        {{#unless currentUser}}
          {{login-buttons action="externalLogin"}}
        {{/unless}}
        <ul class='icons clearfix' role='navigation'>
          {{#if currentUser}}
            <li class='current-user'>
              <a class='icon'
                 data-dropdown="user-dropdown"
                 data-render="renderUserDropdown"
                 href="#"
                 title='{{i18n 'user.avatar.title'}}'
                 id="current-user">
                   {{bound-avatar currentUser "medium"}}
              </a>
            </li>
          {{/if}}
          <li>
            <div class="search">
              {{#if loginRequired}}
                <a id='search-button'
                   class='icon expand search-icon'
                   href='#'
                   aria-hidden="true"
                   {{action "showLogin"}}>
                  {{fa-icon "search"}}
                </a>
              {{else}}
                <a id='search-button'
                   class='icon expand'
                   href='#'
                   data-dropdown="search-dropdown"
                   title='{{i18n 'search.title'}}'>
                   {{fa-icon "search" label="search.title"}}
                </a>
              {{/if}}
            </div>
          </li>
          <li class='categories'>
            {{#if loginRequired}}
              <a class='icon color--primary'
                 href="#"
                 aria-hidden="true"
                 id="site-map"
                 {{action "showLogin"}}>
                 {{fa-icon "bars"}}
              </a>
            {{else}}
              <a class='icon color--primary'
                 data-dropdown="site-map-dropdown"
                 data-render="renderSiteMap"
                 href="#"
                 title='{{i18n 'site_map'}}'
                 id="site-map">
                 {{fa-icon "bars" label="site_map"}}
              </a>
            {{/if}}
            {{#if currentUser.site_flagged_posts_count}}
              <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{currentUser.site_flagged_posts_count}}</a>
            {{/if}}
          </li>
        </ul>

        {{#if view.renderDropdowns}}
          {{render "search"}}
          {{#if view.renderSiteMap}}
            {{render "site-map"}}
          {{/if}}

          {{render "user-dropdown"}}

        {{/if}}
      </div>
      {{#if showExtraInfo}}
        <div class="extra-info-wrapper">
          <div class="extra-info">
            <div class="title-wrapper">
              <h1>
                {{#if showPrivateMessageGlyph}}
                  <span class="private-message-glyph">{{fa-icon "envelope"}}</span>
                {{/if}}

                {{#if topic.details.loaded}}
                  <a class='topic-link' href='{{unbound topic.url}}' {{action "jumpToTopPost"}}>{{{topic.fancy_title}}}</a>
                {{else}}
                  {{#if topic.errorLoading}}
                    <span class="error">{{topic.errorTitle}}</span>
                  {{/if}}
                {{/if}}
              </h1>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="container">
    <ul class="nav nav--tabs pull--left bo--0 p0">
      {{#link-to "guides" tagName="li" class="navbar__item"}}
        {{#link-to "guides" class="navbar__link"}}
          {{i18n "navigation.resources.title"}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "discovery.latest" tagName="li" class="navbar__item"}}
        {{#link-to "discovery.latest" class="navbar__link"}}
          {{i18n "navigation.discussions.title"}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "projects" tagName="li" class="navbar__item"}}
        {{#link-to "projects" class="navbar__link"}}
          {{i18n "navigation.projects.title"}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "newsletter" tagName="li" class="navbar__item"}}
        {{#link-to "newsletter" class="navbar__link"}}
          {{i18n "navigation.newsletter.title"}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "bughunt" tagName="li" class="navbar__item"}}
        {{#link-to "bughunt" class="navbar__link"}}
          {{i18n "navigation.bughunt.title"}}
        {{/link-to}}
      {{/link-to}}
    </ul>
    <ul class="social-connections pull--right">
      <li class="pull--right ml-">
        <a href="http://twitter.com/Securonauts" class="social-link color--white border-color--white bo--1 lh+">{{fa-icon 'twitter'}}</a>
      </li>
      <li class="pull--right ml-">
        <a href="mailto:hello@securonauts.com" class="social-link color--white border-color--white bo--1 lh+">{{fa-icon 'envelope'}}</a>
      </li>
    </ul>
  </div>
</div>
