<div class='landing container'>
  <div class="grid grid--wide">
    <div class="grid__item col-1-2 portable--col-1-1">
      <div class="homepage-section mb+ p">
        <h4 class="mb-">
          <i class="sci sci--lg sci__catalog mr-"></i>
          {{#link-to "guides" class="color--primary"}}
            Software Security for Pointy-Haired Bosses
          {{/link-to}}
        </h4>
        <p class="mb-">
          _ Read our manager's guide to software security written in plain
          English and littered with stories by Mark Curphey.
        </p>
        <div class="grid grid--middle">
          <div class="grid__item col-1-2">
            <ul class="list--unstyled">
              <li>- The Waterfall Tapped Out</li>
              <li>- Why Software Security</li>
              <li>- Security for the Trillions</li>
              <li>- The DevSec Value Proposition</li>
              <li>- Get the Golden Ticket</li>
            </ul>
          </div>
          <div class="grid__item col-1-2 text--center">
            <h4 class="color--primary">
              <a href="{{unbound siteSettings.book_link_url_1}}">
                <i class="icon--pdf-file"></i>
                {{siteSettings.book_link_text_1}}
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__item col-1-2 portable--col-1-1">
      <div class="homepage-section grid__item mb+ p">
        <h4 class="mb-">
          <i class="sci sci--lg sci__catalog mr-"></i>
          {{#link-to "guides" class="color--primary"}}
            Build System Security for Security Geeks
          {{/link-to}}
        </h4>
        <p class="mb-">
          _ How build system's work, what bad people could do, and why you
          should be paranoid of running others' code by Caleb Fenton.
        </p>
        <div class="grid grid--middle">
          <div class="grid__item col-1-2">
            <ul class="list--unstyled">
              <li>- It's simply Untrusted Code</li>
              <li>- Attack Scenarios</li>
              <li>- Case Study - BitCoin Mining</li>
              <li>- How To Protect Yourself</li>
              <li>- 10 Simple Rules for Being Safe</li>
            </ul>
          </div>
          <div class="grid__item col-1-2 text--center">
            <h4>
              <a href="{{unbound siteSettings.book_link_url_2}}" class="color--primary">
                <i class="icon--pdf-file"></i>
                {{siteSettings.book_link_text_2}}
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__item col-1-2 portable--col-1-1">
      <div class="homepage-section mb+">
        <div class="grid grid--full">
          <div class="grid__item col-1-2 p+ text--center bo-r--2 border-color--success">
            <i class="sci sci--lg sci__view--graph mb-"></i>
            <h4 class="mb-">Security Headers</h4>
            <p class="text--left mb+">
              _ Secure HTTP headers can mitigate common attacks like XSS, CSRF,
              and click-jscking. See their adoption across the Alexa Top 1
              million websites and test your own site for free.
            </p>
            <h4 class="text--center">
              <a href="#"></a>
              {{#link-to "headlines" class="color--primary"}}
                Check it out!
              {{/link-to}}
            </h4>
          </div>
          <div class="grid__item col-1-2 p+ text--center">
            <i class="sci sci--lg sci__trophy mb-"></i>
            <h4 class="mb-">BugHunt</h4>
            <p class="text--left mb">
              _ Interact with our open-source Twitter bot and find interesting
              real-world security bugs in code. New challenges are released
              every-week and a leaderboard is  updated for bragging rights.
            </p>
            <h4 class="text--center">
              {{#link-to "bughunt" class="color--primary"}}
                Start Hunting!
              {{/link-to}}
            </h4>
          </div>
        </div>
      </div>
      <div class="homepage-section mb+ p">
        <h4 class="mb-">
          <i class="sci sci--md-lg sci__check--box mr-"></i>
          Sign up for our Newsletter!
        </h4>
        <form class="marketo-form m0" action="https://srcclr.com/api/marketo/signup?redirect=true" method="POST">
          <div class="input--with-icon">
            <input class="control--text" id="Email" maxlength="80" results="0" name="Email" required="" type="Email" placeholder="_ Enter your email to sign for our NWS:LTTR">
            <button type="submit" class="btn--default btn--sm">
              Submit
              <i class="sci sci__arrow--external-link"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="grid__item col-1-2 portable--col-1-1">
      <div class="homepage-section mb+">
        {{#if model.active}}
          <div class="p bo-b--2 border-color--success">
            <h4 class="mb-">
              <i class="sci sci--lg sci__chat--group mr-"></i>
              Most <strong>Active</strong> Discussions
            </h4>
            {{ topic-list topics=model.active }}
          </div>
        {{/if}}
        {{#if model.recent}}
          <div class="p">
            <h4 class="mb-">
              <i class="sci sci--lg sci__chat--group mr-"></i>
              Most <strong>Recent</strong> Discussions
            </h4>
            {{ topic-list topics=model.recent }}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
