<div class='landing'>
  <section class="hero-section">
    <div class="container">
      <ul class="sections-nav">
        <li>
          {{#link-to 'discovery.top'}}
            {{fa-icon 'comments'}}
            {{i18n 'homepage.join_discussion'}}
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'table-of-contents'}}
            {{fa-icon 'book'}}
            {{i18n 'homepage.read_book'}}
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'communities.groups'}}
            {{fa-icon 'map-marker'}}
            {{i18n 'homepage.find_local_chapters'}}
          {{/link-to}}
        </li>
      </ul>
      <h1 class="section-title">
        {{{i18n 'homepage.title'}}}
      </h1>
      <p class="section-description">
        {{i18n 'homepage.tagline'}}
      </p>
    </div>
  </section>
  <section class='top-section'>
    <a class='section-anchor' name='discussions' id='discussions'></a>
    <div class='container'>
      <h2 class="section-title">
        {{i18n 'homepage.top_discussions'}}
      </h2>
      {{#if model}}
        {{ topic-list topics=model }}
      {{/if}}
    </div>
  </section>
</div>
