<div class='container'>
  {{custom-html 'top'}}
  {{discourse-banner user=currentUser banner=site.banner overlay=view.hasScrolled hide=errorLoading}}
</div>

<div class='landing'>
  <section class="hero-section">
    <div class="container">
      <ul class="sections-nav">
        <li><a href="/top"><i class="fa fa-comments"></i>Join the Discussion</a></li>
        <li>
          {{#link-to 'topic' model.toc_topic.slug model.toc_topic.id}}<i class="fa fa-book"></i>Read the Book{{/link-to}}
        </li>
        <li><a href="#"><i class="fa fa-map-marker"></i>Find Local Chapters</a></li>
      </ul>
      <h1 class="section-title">
        A new approach to
        <br>
        software security
      </h1>
      <p class="section-description">
        (by developers for developers)
      </p>
    </div>
  </section>
  <section class='top-section'>
    <a class='section-anchor' name='discussions' id='discussions'></a>
    <div class='container'>
      <div class='section-nav'>
        <a href='#' class='section-nav-item active'>Top Discussions</a>
        <a href='#' class='section-nav-item'>Top Contributors</a>
      </div>
      {{#if model.discussions}}
        <ul class='discussions'>
          {{#each category in model.discussions}}
            <li class='topic-preview'>
              <div class='topic-category'>{{category.name}}</div>
              {{#each topic in category.topics}}
                <div class='topic-meta-info'>
                  <div class='topic-stats'>
                    <span class='stats-value'>{{topic.participant_count}}</span>
                    <span class='stats-label'>Active<br>Participants</span>
                  </div>
                  <div class='topic-stats'>
                    {{format-date topic.last_posted_at format='tiny'}}
                    <span class='stats-label'>Since<br>Last Comment</span>
                  </div>
                  <ul class='topic-actions'>
                    <li><i class='fa fa-share-alt'></i></li>
                    <li><i class='fa fa-heart-o'></i></li>
                    <li><i class='fa fa-envelope-o'></i></li>
                    <li>
                      <i class='fa fa-thumbs-o-up'></i>
                      <i class='fa fa-thumbs-o-down'></i>
                    </li>
                  </ul>
                </div>
                <div class='topic-quick-info'>
                  {{#link-to 'topic' topic.slug topic.id classNames='topic-link'}}{{topic.title}}{{/link-to}}
                  <div class='topic-tags'>
                    <a href='#'>Lorem</a>, <a href='#'>Ipsum</a>, <a href='#'>Dolor</a>, <a href='#'>Vitae carius ultricies</a>, <a href='#'>Vitae carius ultricies</a>, <a href='#'>Lorem</a>, <a href='#'>Lorem</a>, <a href='#'>Ipsum</a>, <a href='#'>Dolor</a>, <a href='#'>Vitae carius ultricies</a>, <a href='#'>Vitae carius ultricies</a>, <a href='#'>Lorem</a>, <a href='#'>Ipsum</a>
                  </div>
                </div>
              {{/each}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </section>
</div>
