<section class='top-section'>
  <div class='container'>
    <div class="row">
      {{#if currentUser.can_create_howto}}
        {{d-button id="create-topic" class="pull-right btn btn-primary" action="createTopic" label="howtos.submit"}}
      {{/if}}
      <h2>How-To's</h2>
    </div>

    <div class='howto-filter-wrap'>
      <div class="howto-search">
        {{input type='search' class='col-12' placeholder=searchPlaceholder value=term}}
      </div>
    </div>

    <div class='no-results'>
      <div {{bind-attr class="noResults::hidden"}}>{{i18n 'search.no_results'}}</div>
      <div {{bind-attr class="shortTerm::hidden"}}>{{i18n 'search.short_term'}}</div>
    </div>

    <div class="results" {{bind-attr class="hideResults:hidden"}}>
    {{#if model}}
      {{ topic-list topics=model }}
    {{/if}}
    </div>

    {{loading-spinner condition=loading}}
  </div>
</section>
