<div class="container">
  <div class="bo-b--1 mb pb">
    <h4 class="mb-">
      <a href="/projects/security-headers"><i class="sci sci--lg sci__view--graph mr-"></i></a>
      <a href="/projects/security-headers" class="vertical-align--middle mr+">
        Security Headers
      </a>
      <span class="mr-">{{fa-icon "code-fork"}} {{model.[0].forks_count}}</span>
      <span class="mr-">{{fa-icon "star"}} {{model.[0].stargazers_count}}</span>
    </h4>
    <p>{{model.[0].description}}</p>
  </div>

  <div class="bo-b--1 mb pb">
    <h4 class="mb-">
      <a href="/projects/csp-reports"><i class="sci sci--lg sci__view-list mr-"></i></a>
      <a href="/projects/csp-reports" class="vertical-align--middle mr+">
        CSP Reports
      </a>
      <span class="mr-">{{fa-icon "code-fork"}} {{model.[1].forks_count}}</span>
      <span class="mr-">{{fa-icon "star"}} {{model.[1].stargazers_count}}</span>
    </h4>
    <p>{{model.[1].description}}</p>
  </div>

  <div class="bo-b--1 mb pb">
    <h4 class="mb--">
      <a href="/projects/bughunt"><i class="sci sci--lg sci__trophy mr-"></i></a>
      <a href="/projects/bughunt" class="vertical-align--middle mr+">
        BugHunt
      </a>
      <span class="mr-">{{fa-icon "code-fork"}} {{model.[2].forks_count}}</span>
      <span class="mr-">{{fa-icon "star"}} {{model.[2].stargazers_count}}</span>
    </h4>
    <p>{{model.[2].description}}</p>
  </div>
</div>
