<div class="container">
  <div class="grid grid--wide">
    <div class="grid__item col-3-4 phone--col-1-1">
      <h2 class="mb">{{i18n model.name}}</h2>

      <p class="mb font-weight--bold">
        {{model.description}}
      </p>

      <div class="mb">
        <span class="mr-">{{fa-icon "code-fork"}} {{model.forks_count}}</span>
        <span class="mr-">{{fa-icon "star"}} {{model.stargazers_count}}</span>
      </div>

      <div class="mb markdown-body">
        {{#if model.isCspReports}}
          {{partial "projects/description/csp-reports"}}
        {{else}}
          {{#if model.isBughunt}}
            {{partial "projects/description/bughunt"}}
          {{else}}
            {{#if model.isSslReminder}}
              {{partial "projects/description/ssl-reminder"}}
            {{else}}
              {{partial "projects/description/security-headers"}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>

    <div class="grid__item col-1-4 phone--col-1-1 mb">
      {{#if model.isCspReports}}
        {{partial "projects/links/csp-reports"}}
      {{else}}
        {{#if model.isBughunt}}
          {{partial "projects/links/bughunt"}}
        {{else}}
          {{#if model.isSslReminder}}
            {{partial "projects/links/ssl-reminder"}}
          {{else}}
            {{partial "projects/links/security-headers"}}
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
