<div class="container">
  <h1 class="mb responsive-heading--h1">Projects@Open</h1>
  <h3 class="mb+">
    Have a look at the open-source security tools we have built for software developers!
  </h3>
  <div class="mb pb">
    <div class="pull--right lh++">
      <span class="mr-">{{fa-icon "code-fork"}} {{model.[0].forksCount}}</span>
      <span class="mr-">{{fa-icon "star"}} {{model.[0].stargazersCount}}</span>
    </div>
    <h4 class="mb-">
      <a href="/projects/security-headers" class="project-icon">
        <i class="sci sci--lg sci__view--graph mr- color--black"></i>
      </a>
      <a href="/projects/security-headers" class="vertical-align--middle color--primary font--24 mr+">
        Security Headers
      </a>
    </h4>
    <p class="font--18">{{model.[0].description}}</p>
  </div>

  <div class="mb pb">
    <div class="pull--right lh++">
      <span class="mr-">{{fa-icon "code-fork"}} {{model.[1].forksCount}}</span>
      <span class="mr-">{{fa-icon "star"}} {{model.[1].stargazersCount}}</span>
    </div>
    <h4 class="mb-">
      <a href="/projects/csp-reports" class="project-icon">
        <i class="sci sci--lg sci__view-list mr- color--black"></i>
      </a>
      <a href="/projects/csp-reports" class="vertical-align--middle color--primary font--24 mr+">
        CSP Reports
      </a>
    </h4>
    <p class="font--18">{{model.[1].description}}</p>
  </div>

  <div class="mb pb">
    <div class="pull--right lh++">
      <span class="mr-">{{fa-icon "code-fork"}} {{model.[2].forksCount}}</span>
      <span class="mr-">{{fa-icon "star"}} {{model.[2].stargazersCount}}</span>
    </div>
    <h4 class="mb--">
      <a href="/projects/bughunt" class="project-icon">
        <i class="sci sci--lg sci__trophy mr- color--black"></i>
      </a>
      <a href="/projects/bughunt" class="vertical-align--middle color--primary font--24 mr+">
        BugHunt
      </a>
    </h4>
    <p class="font--18">{{model.[2].description}}</p>
  </div>

  <div class="mb pb">
    <div class="pull--right lh++">
      <span class="mr-">{{fa-icon "code-fork"}} {{model.[3].forksCount}}</span>
      <span class="mr-">{{fa-icon "star"}} {{model.[3].stargazersCount}}</span>
    </div>
    <h4 class="mb-">
      <a href="/projects/ssl-reminder" class="project-icon">
        <i class="sci sci--lg sci__lock--unlock mr- color--black"></i>
      </a>
      <a href="/projects/ssl-reminder" class="vertical-align--middle color--primary font--24 mr+">
        SSL Reminder
      </a>
    </h4>
    <p class="font--18">{{model.[3].description}}</p>
  </div>
</div>
