<div class="container">
  <div class="grid grid--wide">
    <div class="grid__item col-3-4">
      <h2 class="mb">{{i18n model.name}}</h2>

      <p class="mb font-weight--bold">
        {{model.description}}
      </p>

      <div class="mb">
        <span class="mr-">{{fa-icon "code-fork"}} {{model.forks_count}}</span>
        <span class="mr-">{{fa-icon "star"}} {{model.stargazers_count}}</span>
      </div>

      <div class="mb markdown-body">
        {{#if model.isCspReports}}
          {{partial "projects/description/csp-reports"}}
        {{else}}
          {{#if model.isBughunt}}
            {{partial "projects/description/bughunt"}}
          {{else}}
            {{partial "projects/description/security-headers"}}
          {{/if}}
        {{/if}}
      </div>
    </div>

    <div class="grid__item col-1-4">
      {{#if model.isCspReports}}
        {{partial "projects/links/csp-reports"}}
      {{else}}
        {{#if model.isBughunt}}
          {{partial "projects/links/bughunt"}}
        {{else}}
          {{partial "projects/links/security-headers"}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
