<div class="container">
  <div class="bo-b--1 mb pb">
    <h4 class="mb-">
      <a href="#">
        <i class="sci sci--lg sci__view--graph mr-"></i>
        <span class="vertical-align--middle">Security Headers</span>
      </a>
    </h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div>
      <span class="mr-">{{fa-icon "code-fork"}} 1</span>
      <span class="mr-">{{fa-icon "star"}} 1</span>
    </div>
  </div>

  <div class="bo-b--1 mb pb">
    <h4 class="mb-">
      <a href="#">
        <i class="sci sci--lg sci__view-list mr-"></i>
        <span class="vertical-align--middle">Security Reports</span>
      </a>
    </h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div>
      <span class="mr-">{{fa-icon "code-fork"}} 1</span>
      <span class="mr-">{{fa-icon "star"}} 1</span>
    </div>
  </div>

  <div class="bo-b-1 mb pb">
    <h4 class="mb--">
      <a href="#">
        <i class="sci sci--lg sci__trophy mr-"></i>
        <span class="vertical-align--middle">Bug Hunt</span>
      </a>
    </h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div>
      <span class="mr-">{{fa-icon "code-fork"}} 1</span>
      <span class="mr-">{{fa-icon "star"}} 1</span>
    </div>
  </div>
</div>
