<div class="container">
  <div class="grid grid--wide">
    <div class="grid__item col-3-4">
      <h2 class="mb">{{i18n model.name}}</h2>

      <p class="mb font-weight--bold">
        {{model.description}}
      </p>

      <div class="mb">
        <span class="mr-">{{fa-icon "code-fork"}} {{model.forks_count}}</span>
        <span class="mr-">{{fa-icon "star"}} {{model.stargazers_count}}</span>
      </div>

      <div class="mb">
        {{{model.full_description}}}
      </div>
    </div>

    <div class="grid__item col-1-4">
      {{#if model.isCspReports}}
        <a class="btn--full btn--primary mb--" href="/{{model.name}}">Check your domain</a>
        <a class="btn--full btn--primary-clear mb--" href="{{model.html_url}}">GH Repo</a>
      {{else}}
        {{#if model.isBughunt}}
          <a class="btn--full btn--primary mb--" href="https://github.com/srcclr/bughunt">GH Challenge Repo</a>
          <a class="btn--full btn--primary-clear mb--" href="/bughunt">Leaderboard</a>
          <a class="btn--full btn--primary-clear mb--" href="{{model.html_url}}">GH Leaderboard Repo</a>
          <a class="btn--full btn--primary-clear mb--" href="/c/leaderboard">Discuss</a>
        {{else}}
          <a class="btn--full btn--primary mb--" href="/{{model.name}}">Use the Tool</a>
          <a class="btn--full btn--primary-clear mb--" href="{{model.html_url}}">GH Repo</a>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
