<section class="static-page">
  <div class="container">

    <div class="row">
      <h1>{{i18n 'recipes.submit'}}</h1>
      <form class="submit-recipe" action="">
        <div class="control-group row">
          <div class="controls col-6">
            <label class="control-label">{{i18n 'recipes.recipe_title'}}</label>
            {{input type='text' class='form-control' value=model.title}}
          </div>
          <div class="control-group col-4 offset-1">
            <label class="control-label">{{i18n 'recipes.category'}}</label>
            <div class="controls">
              {{view 'select' content=categories
                              prompt="Select a Category"
                              optionValuePath="content.id"
                              optionLabelPath="content.name"
                              value=model.category}}
            </div>
          </div>
        </div>
        <hr>

        <div class="filter-col row">
          <p class="filter-title">{{i18n 'recipes.filter.language'}}</p>

          <div class="col-8 tags">
            {{#each language in languages}}
              {{ tags-checkbox collectionBinding="controller.model.languages" itemBinding="language"}}
            {{/each}}
          </div>
        </div>


        <div class="filter-col row">
          <p class="filter-title">{{i18n 'recipes.filter.technology'}}</p>

          <div class="col-8 tags">
            {{#each technology in technologies}}
              {{ tags-checkbox collectionBinding="controller.model.technologies" itemBinding="technology"}}
            {{/each}}
          </div>
        </div>

        <hr>

        {{#if showTags}}
          <div class="control-group row tags-group">
            <label class="control-label">{{i18n 'recipes.filter.tags'}}</label>
            {{tag-chooser class="col-8" tags=tags}}
          </div>
          <hr>
        {{/if}}

        <div class="control-group row">
          <label class="control-label">{{i18n 'recipes.recipe_content'}}</label>
          <div class="controls textarea-wrapper col-8">
            {{popupInputTip validation=replyValidation shownAt=showReplyTip}}
            {{textarea class='form-control' value=model.raw}}
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" {{action 'submitRecipe'}}>
              {{i18n 'recipes.save'}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
