<section class='top-section'>
  <a class='section-anchor' name='discussions' id='discussions'></a>
  <div class='container'>
    <div class="row">
      {{#link-to 'submitRecipe' class='pull-right btn btn-primary'}}
        {{i18n 'recipes.submit'}}
      {{/link-to}}
      <h2>Recipes</h2>
    </div>
    {{render 'recipe-filter' controller='recipes'}}

    <div class='no-results'>
      <div {{bind-attr class="noResults::hidden"}}>{{i18n 'search.no_results'}}</div>
      <div {{bind-attr class="shortTerm::hidden"}}>{{i18n 'search.short_term'}}</div>
    </div>

    {{loading-spinner condition=loading}}

    <div class="results" {{bind-attr class="hideResults:hidden"}}>
      {{ topic-list topics=model }}
    </div>
  </div>
</section>
