<div class='recipe-filter-wrap'>
  <div class="recipe-search">
    {{input type='search' class='col-12' placeholder=searchPlaceholder value=term}}
    <a {{action "toggleFilters"}} class="filter-toggler" href='#' data-alt='{{i18n "recipes.filter.hide_filter"}}'>{{i18n 'recipes.filter.show_filter'}}</a>
  </div>
  <form action='' class='recipe-filter-form'>
    <div class="recipe-filters row">
      <div class="filter-col col-4">
        <p class="filter-title">{{i18n 'recipes.filter.language'}}</p>
        <div class="filters">
          {{#each languagesProxy}}
            <label class="col-6">
              {{input type='checkbox' checked=checked}} {{content}}
            </label>
          {{/each}}
        </div>
      </div>

      <div class="filter-col col-4">
        <p class="filter-title">{{i18n 'recipes.filter.technology'}}</p>
        <div class="filters">
          {{#each technologiesProxy}}
            <label class="col-6">
              {{input type='checkbox' checked=checked}} {{content}}
            </label>
          {{/each}}
        </div>
      </div>

      <div class="col-3">
        <div class="control-group">
          <p class="filter-title">{{i18n 'recipes.filter.author'}}</p>
          {{view 'select' content=publishers value=publisher prompt="Select a Author"}}
        </div>
      </div>

      <div class="filter-actions">
        <button class="btn btn-primary" {{action 'applyFilters'}}>
          {{i18n 'recipes.filter.apply'}}
        </button>
        <button class="btn" {{action 'resetFilters'}}>
          {{i18n 'recipes.filter.clear'}}
        </button>
      </div>
    </div>
  </form>
</div>
