<div class='recipe-filter-wrap'>
  <form action=''>
    <div class="recipe-search">
      {{input type='search' class='col-12' placeholder=searchPlaceholder value=term}}
      <a {{action "toggleFilters"}} class="filter-toggler" href='#' data-alt='{{i18n "recipes.filter.hide_filter"}}'>{{i18n 'recipes.filter.show_filter'}}</a>
    </div>
    <div class="recipe-filters row">
      <div class="col-4">
        <p class="filter-title">{{i18n 'recipes.filter.language'}}</p>
        <div class="filters">
          {{#each language in languages}}
            <label class="col-6">
              <input type="checkbox" name="language">
              {{language}}
            </label>
          {{/each}}
        </div>
        {{#view Discourse.filterListToggler}}
          <a class='filter-see-more' href='#' data-alt='{{i18n "recipes.filter.see_less"}}'>
            {{i18n 'recipes.filter.see_more'}}
          </a>
        {{/view}}
      </div>

      <div class="col-4">
        <p class="filter-title">{{i18n 'recipes.filter.technology'}}</p>
        <div class="filters">
          {{#each technology in technologies}}
            <label>
              <input type="checkbox" name="technology">
              {{technology}}
            </label>
          {{/each}}
        </div>
        {{#view Discourse.filterListToggler}}
          <a class='filter-see-more' href='#' data-alt='{{i18n "recipes.filter.see_less"}}'>
            {{i18n 'recipes.filter.see_more'}}
          </a>
        {{/view}}
      </div>

      <div class="col-3">
        <div class="control-group">
          <p class="filter-title">{{i18n 'recipes.filter.publisher'}}</p>
          {{combo-box valueAttribute="value" content=publishers value=publisher none="user.locale.default"}}
        </div>
        <div class="control-group">
          <p class="filter-title">{{i18n 'recipes.filter.company'}}</p>
          {{combo-box valueAttribute="value" content=companies value=company none="user.locale.default"}}
        </div>
      </div>

      <div class="filter-actions">
        <input class="btn btn-primary" type="submit" value='{{i18n "recipes.filter.apply"}}'>
        <input class="btn" type="reset" value='{{i18n "recipes.filter.clear"}}'>
      </div>
    </div>
  </form>
</div>
