<section class='top-section recipes'>
  <a class='section-anchor' name='discussions' id='discussions'></a>
  <div class='container'>
    <div class="row">
      <header class="recipes-header">
        {{#if currentUser.can_create_recipe}}
          {{#link-to 'recipesNew' class='pull-right btn btn-primary recipe-submit-btn'}}
            {{i18n 'recipes.submit'}}
          {{/link-to}}
        {{/if}}
        <h2>Recipes</h2>
      </header>
    </div>
    {{render 'recipe-filter' controller='recipes'}}

    <div class='no-results'>
      <div {{bind-attr class="noResults::hidden"}}>{{i18n 'search.no_results'}}</div>
      <div {{bind-attr class="shortTerm::hidden"}}>{{i18n 'search.short_term'}}</div>
    </div>

    {{loading-spinner condition=loading}}

    <div class="results" {{bind-attr class="hideResults:hidden"}}>
    {{#if modelProxy}}
      {{ topic-list topics=modelProxy }}
    {{/if}}
    </div>
  </div>
</section>
