<section class='static-page'>
  <div class='container'>
    <h1>
      {{i18n 'static.supporters.title'}}
    </h1>
    <ul class="static-list">
      <li class="list-item">
        <div class="list-item-resources">
          <h2>Top Security Resource</h2>
          <h3>Title of Security Resource</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}

          <h3>Title of Security Resource</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}

          <h3>Title of Security Resource</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
        </div>
        <div class="list-item-description">
          <img src="http://placehold.it/210x90/ffffff/000000&text=logo" alt="">
          <h3>Development methodology</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <h3>Reason to implement Continious Security</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item-resources">
          <h2>Top Security Resource</h2>
          <h3>Title of Security Resource</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}

          <h3>Title of Security Resource</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
          {{fa-icon 'star'}}
        </div>
        <div class="list-item-description">
          <img src="http://placehold.it/210x90/ffffff/000000&text=logo" alt="">
          <h3>Development methodology</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <h3>Reason to implement Continious Security</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
