<div class="container blog-post-view">
  {{custom-html "top"}}
  {{discourse-banner user=currentUser banner=site.banner overlay=view.hasScrolled hide=errorLoading}}
  {{#if postStream.loaded}}
    <div class="container posts">

      {{view "selected-posts"}}

      <div class="row">
        <section class="topic-area" id='topic' data-topic-id='{{unbound id}}'>
          <div class='posts-wrapper'>
            <h1>
              <a href="/c/blogs">Blog</a>
            </h1>
            {{#if postStream.firstPostPresent}}
              {{#if editingTopic}}
                {{#if isPrivateMessage}}
                  <span class="private-message-glyph">{{fa-icon envelope}}</span>
                  {{autofocus-text-field id='edit-title' value=buffered.title maxLength=maxTitleLength}}
                {{else}}
                  {{autofocus-text-field id='edit-title' value=buffered.title maxLength=maxTitleLength}}
                  <br>
                  {{category-chooser valueAttribute="id" value=buffered.category_id source=buffered.category_id}}
                {{/if}}

                <button class='btn btn-primary btn-small no-text' {{action "finishedEditingTopic"}}>{{fa-icon check}}</button>
                <button class='btn btn-small no-text' {{action "cancelEditingTopic"}}>{{fa-icon times}}</button>
              {{else}}
                <h2>
                  {{formatted-date created_at 'DD/MM/YY'}} -
                  {{#unless is_warning}}
                    <span class="private-message-glyph">{{fa-icon envelope}}</span>
                  {{/unless}}

                  {{#if details.loaded}}
                    <a href='{{unbound url}}' {{action "jumpTop"}}>
                      {{#if topicSaving}}
                        {{fancy_title}}
                      {{else}}
                        {{{fancy_title}}}
                      {{/if}}
                    </a>
                  {{/if}}
                </h2>
              {{/if}}
            {{/if}}
            {{loading-spinner condition=postStream.loadingAbove}}

            {{view 'post' content=postStream.firstLoadedPost class='topic-post-content'}}

            {{loading-spinner condition=postStream.loadingBelow}}

            <div class="share-post">
              <span class="share-label">Share this post:</span>
              {{render "share" id="share-post"}}
            </div>
          </div>
        </section>
        {{#if details.suggested_topics.length}}
          <aside class="related-resources">
            <div class="user-card post-author">
              <h2>Author</h2>
              <img src="/user_avatar/localhost/system/64/1.png" class="avatar">
              <a href="/user">First Name Last Name</a>
              <br>
              Company name
            </div>

            <h2>Additional Blogs by Author</h2>
            <ul class="related-resources-list">
            {{#each topic in details.suggested_topics}}
              <li>
                <h3>{{topic-link topic}}</h3>
                {{raw "list/topic-excerpt" topic=topic}}
              </li>
            {{/each}}
            </ul>

            <h2>Related Topic Blogs</h2>
            <ul class="related-resources-list">
            {{#each topic in details.suggested_topics}}
              <li>
                <h3>{{topic-link topic}}</h3>
                {{raw "list/topic-excerpt" topic=topic}}
              </li>
            {{/each}}
            </ul>
          </aside>
        {{/if}}
      </div>

    </div>
  {{else}}
    {{#loading-spinner condition=noErrorYet}}
      {{#if notFoundHtml}}
        {{{notFoundHtml}}}
      {{else}}
        <div class="topic-error">
          <div>{{message}}</div>
          {{#if noRetry}}
            {{#unless currentUser}}
              <button {{action "showLogin"}} class='btn btn-primary topic-retry'>{{fa-icon user}} {{i18n log_in}}</button>
            {{/unless}}
          {{else}}
            <button class="btn btn-primary topic-retry" {{action "retryLoading"}}>{{fa-icon "refresh"}} {{i18n errors.buttons.again}}</button>
          {{/if}}
        </div>
        {{loading-spinner condition=retrying}}
      {{/if}}
    {{/loading-spinner}}
  {{/if}}
</div>


{{#if currentUser.canManageTopic}}
  {{show-topic-admin show="showTopicAdminMenu"}}
  {{render "topic-admin-menu"}}
{{/if}}
