{{discourse-banner
  user=currentUser
  banner=site.banner
  overlay=view.hasScrolled
  hide=errorLoading}}

<div class="howto-view">
  {{#if postStream.loaded}}
    <div class="container posts">
      <div class="row">
        <section class="topic-area" id='topic' data-topic-id='{{unbound id}}'>
          {{#if postStream.firstPostPresent}}
            <div id='topic-title'>
              <div class='container'>
                <div class="howto-header">
                  {{#if editingTopic}}
                    {{#if isPrivateMessage}}
                      <span class="private-message-glyph">{{fa-icon envelope}}</span>
                      {{autofocus-text-field id='edit-title' value=buffered.title maxLength=maxTitleLength}}
                    {{else}}
                      {{autofocus-text-field id='edit-title' value=buffered.title maxLength=maxTitleLength}}
                      <br>
                      {{category-chooser valueAttribute="id" value=buffered.category_id source=buffered.category_id}}
                    {{/if}}
                    <button class='btn btn-primary btn-small no-text' {{action "finishedEditingTopic"}}>{{fa-icon check}}</button>
                    <button class='btn btn-small no-text' {{action "cancelEditingTopic"}}>{{fa-icon times}}</button>
                  {{else}}
                    <h1>
                      {{#unless is_warning}}
                        <span class="private-message-glyph">{{fa-icon envelope}}</span>
                      {{/unless}}

                      {{#if details.loaded}}
                        {{topic-status topic=model}}
                        <a href='{{unbound url}}' {{action "jumpTop"}}>
                          {{#if topicSaving}}
                            {{fancy_title}}
                          {{else}}
                            {{{fancy_title}}}
                          {{/if}}
                        </a>
                      {{/if}}
                    </h1>
                  {{/if}}
                  <ul class='howto-header-bottom'>
                    <li>
                      {{avatar user imageSize="small"}}
                      {{#link-to 'user' user.username}}{{user.username}}{{/link-to}}
                      {{#if user.company}}
                        , {{user.company}}
                      {{/if}}
                    </li>
                    <li>
                      {{fa-icon 'tag'}}
                      {{#each t in tags}}
                        {{discourse-tag tagId=t}}
                      {{/each}}
                    </li>
                    <li>
                      {{fa-icon 'clock-o'}}
                      {{format-date created_at}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {{/if}}
          {{loading-spinner condition=postStream.loadingAbove}}
          {{view 'post' content=postStream.firstLoadedPost}}
          {{loading-spinner condition=postStream.loadingBelow}}
        </section>
        <aside class="related-resources">
          {{#if details.suggested_topics.length}}
            <h2>{{i18n 'howtos.related_resources'}}</h2>
            <ul class="related-resources-list">
            {{#each topic in details.suggested_topics}}
              <li>
                <h3>{{topic-link topic}}</h3>
                {{raw "list/topic-excerpt" topic=topic}}
              </li>
            {{/each}}
            </ul>
          {{/if}}
        </aside>
      </div>
    </div>
  {{else}}
    <div class='container'>
      {{#loading-spinner condition=noErrorYet}}
        {{#if notFoundHtml}}
          {{{notFoundHtml}}}
        {{else}}
          <div class="topic-error">
            <div>{{message}}</div>
            {{#if noRetry}}
              {{#unless currentUser}}
                <button {{action "showLogin"}} class='btn btn-primary topic-retry'>{{fa-icon user}} {{i18n log_in}}</button>
              {{/unless}}
            {{else}}
              <button class="btn btn-primary topic-retry" {{action "retryLoading"}}>{{fa-icon "refresh"}} {{i18n errors.buttons.again}}</button>
            {{/if}}
          </div>
          {{loading-spinner condition=retrying}}
        {{/if}}
      {{/loading-spinner}}
    </div>
  {{/if}}
</div>
{{render "share"}}

{{#if currentUser.canManageTopic}}
  {{show-topic-admin show="showTopicAdminMenu"}}
  {{render "topic-admin-menu"}}
{{/if}}
