{{#popup-menu visible=adminMenuVisible hide="hideTopicAdminMenu" title="admin_title"}}
  <li>
    {{d-button action="toggleMultiSelect" icon="tasks" label="topic.actions.multi_select" class="btn-admin"}}
  </li>

  {{#if model.details.can_delete}}
    <li>
      {{d-button action="deleteTopic" icon="trash-o" label="topic.actions.delete" class="btn-admin btn-danger"}}
    </li>
  {{/if}}

  {{#if showRecover}}
    <li>
      {{d-button action="recoverTopic" icon="undo" label="topic.actions.recover" class="btn-admin"}}
    </li>
  {{/if}}

  <li>
    {{#if model.closed}}
      {{d-button action="toggleClosed" icon="unlock" label="topic.actions.open" class="btn-admin"}}
    {{else}}
      {{d-button action="toggleClosed" icon="lock" label="topic.actions.close" class="btn-admin"}}
      {{d-button action="showAutoClose" icon="clock-o" label="topic.actions.auto_close" class="btn-admin"}}
    {{/if}}
  </li>

  {{#unless model.isPrivateMessage}}
    {{#if model.visible}}
      <li>
        {{#if isFeatured}}
          {{d-button action="showFeatureTopic" icon="thumb-tack" label="topic.actions.unpin" class="btn-admin"}}
        {{else}}
          {{d-button action="showFeatureTopic" icon="thumb-tack" label="topic.actions.pin" class="btn-admin"}}
        {{/if}}
      </li>
    {{/if}}

    <li>
      {{#if model.isToc}}
        {{d-button action="makeDefaultArchetype" icon="book" label="topic.actions.remove_toc" class="btn-admin"}}
      {{else}}
        {{#if model.visible}}
          {{d-button action="makeToc" icon="book" label="topic.actions.make_toc" class="btn-admin"}}
        {{/if}}
      {{/if}}
    </li>

    <li>
      {{#if model.isHowto}}
        {{d-button action="makeDefaultArchetype" icon="list-alt" label="topic.actions.remove_howto" class="btn-admin"}}
      {{else}}
        {{#if model.visible}}
          {{d-button action="makeHowto" icon="list-alt" label="topic.actions.make_howto" class="btn-admin"}}
        {{/if}}
      {{/if}}
    </li>

    <li>
      {{#if model.isSection}}
        {{d-button action="makeDefaultArchetype" icon="file-text-o" label="topic.actions.remove_section" class="btn-admin"}}
      {{else}}
        {{#if model.visible}}
          {{d-button action="makeSection" icon="file-text-o" label="topic.actions.make_section" class="btn-admin"}}
        {{/if}}
      {{/if}}
    </li>

    <li>
      {{#if model.isBlog}}
        {{d-button action="makeDefaultArchetype" icon="bullhorn" label="topic.actions.remove_blog" class="btn-admin"}}
      {{else}}
        {{#if model.visible}}
          {{d-button action="makeBlog" icon="bullhorn" label="topic.actions.make_blog" class="btn-admin"}}
        {{/if}}
      {{/if}}
    </li>
  {{/unless}}

  <li>
    {{#if model.archived}}
      {{d-button action="toggleArchived" icon="folder" label="topic.actions.unarchive" class="btn-admin"}}
   {{else}}
      {{d-button action="toggleArchived" icon="folder" label="topic.actions.archive" class="btn-admin"}}
    {{/if}}
  </li>

  <li>
    {{#if model.visible}}
      {{d-button action="toggleVisibility" icon="eye-slash" label="topic.actions.invisible" class="btn-admin"}}
    {{else}}
      {{d-button action="toggleVisibility" icon="eye" label="topic.actions.visible" class="btn-admin"}}
    {{/if}}
  </li>

  {{plugin-outlet "topic-admin-menu-buttons"}}
{{/popup-menu}}
