<form class='map-filter' action=''>
  <div class='map-filter-controls'>
    {{fa-icon 'map-marker'}}
    {{input type='text' class='autocomplete-search map-search'}}

    {{#if useDateFilter}}
      {{event-datepicker value=time placeholderKey="communities.event_date"}}
    {{/if}}

    <span class='map-filter-label'>
      within
      <a class='map-radius dropdown-toggle' data-toggle='dropdown'>
        {{selectedRadius}} miles
      </a>
      <ul class='dropdown-menu'>
        {{#each radius in radiuses}}
          {{view radiusView radius=radius selectedRadius=selectedRadius }}
        {{/each}}
      </ul>
    </span>
    <button class='btn btn-primary btn-large map-search-button' {{action 'search' target='view'}}>
      Search
    </button>
  </div>
</form>
