<div class='container'>
  {{custom-html "top"}}
</div>

<div class="container">
  <h2>{{i18n 'user.account.title'}}</h2>

  <section class='user-main'>
    <section class='profile-navigation'>
      <ul class='action-list profile-actions'>
        {{#link-to 'user.index' tagName='li'}}
          {{#link-to 'user.index'}}{{i18n 'user.overview'}}{{/link-to}}
        {{/link-to}}
        {{#if canInviteToForum}}
          {{#link-to 'user.invited' tagName='li'}}
            {{#link-to 'user.invited'}}{{i18n 'user.invitations'}}{{/link-to}}
          {{/link-to}}
        {{/if}}
        {{#link-to 'user.notifications' tagName='li'}}
          {{#link-to 'user.notifications'}}{{i18n 'user.notifications'}}{{/link-to}}
        {{/link-to}}
        {{#link-to 'userActivity.topics' tagName='li'}}
          {{#link-to 'userActivity.topics'}}{{i18n 'user.discussions'}}{{/link-to}}
        {{/link-to}}
        {{#link-to 'user.recipes' tagName='li'}}
          {{#link-to 'user.recipes'}}{{i18n 'recipes.title'}}{{/link-to}}
        {{/link-to}}
        {{#link-to 'preferences' tagName='li'}}
          {{#link-to 'preferences'}}{{i18n 'user.preferences'}}{{/link-to}}
        {{/link-to}}
      </ul>
    </section>

    <section class='user-right'>
      {{outlet}}
    </section>

  </section>
</div>
