<div class="admin-container">
  <div class="admin-toc">
    <h2>{{i18n 'admin.toc.description'}}</h2>

    {{#if model}}
      {{#each part in model itemController="admin-part" itemView="admin-part"}}
        {{#if part.editing}}
          <div class="row">
            <div class="form-element">
              {{input value=part.buffered.position class="part-position" placeholder=controller.partPosition}}
            </div>
            <div class="form-element">
              {{input value=part.buffered.name class="part-name" placeholder=controller.partName}}
            </div>
            <div class="form-element controls">
              <button class='btn btn-primary' {{action "save"}}>{{fa-icon 'check'}} {{i18n 'admin.toc.part.save'}}</button>
              <button class='btn btn-danger' {{action "cancel"}}>{{fa-icon 'times'}} {{i18n 'admin.toc.part.cancel'}}</button>
            </div>
          </div>
          <div class="row">
            <div class="form-element">
              {{textarea value=part.buffered.description class="part-description" placeholder=controller.partDescription}}
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class='form-display'>{{part.position}}</div>
            <div class='form-display'>{{part.name}}</div>
            <div class="form-element controls">
              <button class='btn btn-default' {{action "edit"}}>{{fa-icon 'pencil'}} {{i18n 'admin.toc.part.edit'}}</button>
              <button class='btn btn-danger' {{action "destroy"}}>{{fa-icon 'trash-o'}} {{i18n 'admin.toc.part.delete'}}</button>
            </div>
          </div>
          <div class="row">{{part.description}}</div>
          <h3>{{i18n 'admin.toc.part.chapters'}}</h3>
          {{#if part.chapters}}
            {{#each chapter in part.chapters itemController="admin-chapter" itemView="admin-chapter"}}
              {{#if chapter.editing}}
                <div class="row">
                  <div class="form-element">
                    {{input value=chapter.buffered.position class="chapter-position" placeholder=controller.chapterPosition}}
                  </div>
                  <div class="form-element">
                    {{input value=chapter.buffered.name class="chapter-name" placeholder=controller.chapterName}}
                  </div>
                  <div class="form-element controls">
                    <button class='btn btn-primary' {{action "save"}}>{{fa-icon 'check'}} {{i18n 'admin.toc.chapter.save'}}</button>
                    <button class='btn btn-danger' {{action "cancel"}}>{{fa-icon 'times'}} {{i18n 'admin.toc.chapter.cancel'}}</button>
                  </div>
                </div>
              {{else}}
                <div class="row">
                  <div class="chapter">
                    {{chapter.position}} - {{chapter.name}}
                    <button class='btn' {{action "edit"}}>{{fa-icon 'pencil'}}</button>
                    <button class='btn' {{action "destroy"}}>{{fa-icon 'trash-o'}}</button>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          {{else}}
            <p>{{i18n 'admin.toc.chapter.none'}}</p>
          {{/if}}
          <button class="btn btn-default" {{action "createChapter"}}>{{fa-icon 'plus'}}</button>
        {{/if}}
        <div class='clearfix'></div>
      {{/each}}
    {{else}}
      <p>{{i18n 'admin.toc.part.none'}}</p>
    {{/if}}

    <button class='btn btn-primary' {{action "createPart"}}>
      <i class="fa fa-plus"></i>
      {{i18n 'admin.toc.part.create'}}
    </button>
  </div>
</div>
