<div class="admin-container">
  <div class="admin-toc">
    <h1 class="book-title">{{i18n "admin.toc.description"}}</h1>

    {{#if model}}
      {{#each part in model itemController="admin-part" itemView="admin-part"}}
        {{#if part.editing}}
          <div class="row">
            {{input value=part.buffered.position class="part-position" placeholder=controller.partPosition}}
            {{input value=part.buffered.name class="part-name span8" placeholder=controller.partName}}
            {{textarea value=part.buffered.description class="part-description span10" placeholder=controller.partDescription  rows="5"}}
            <div class="clearfix">
              <button class="btn btn-primary" {{action "save"}}>{{fa-icon "check"}} {{i18n "admin.toc.part.save"}}</button>
              <button class="btn" {{action "cancel"}}>{{fa-icon "times"}} {{i18n "admin.toc.part.cancel"}}</button>
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class="controls">
              <button class="btn btn-small btn-default" {{action "edit"}}>
                {{fa-icon "pencil"}} {{i18n "admin.toc.part.edit"}}
              </button>
              <button class="btn btn-small btn-danger no-text" {{action "destroy"}}>
                {{fa-icon "trash-o"}}
              </button>
            </div>
            <h3  {{action "edit"}}>Part {{part.position}}. {{part.name}}</h3>
            <p>{{part.description}}</p>
          </div>
          <h4>{{i18n "admin.toc.part.chapters"}}</h4>
          {{#if part.chapters}}
            {{#each chapter in part.chapters itemController="admin-chapter" itemView="admin-chapter"}}
              {{#if chapter.editing}}
                <div class="row">
                  {{input value=chapter.buffered.position class="chapter-position" placeholder=controller.chapterPosition}}
                  {{input value=chapter.buffered.name class="chapter-name span8" placeholder=controller.chapterName}}
                  <button class="btn btn-small no-text ok" {{action "save"}}>
                    {{fa-icon "check"}}
                  </button>
                  <button class="btn btn-small no-text btn-danger" {{action "cancel"}}>
                    {{fa-icon "times"}}
                  </button>
                </div>
              {{else}}
                <div class="chapter-num">
                  <strong>{{part.position}}.{{chapter.position}}</strong>.00
                </div>
                <div class="chapter-title" {{action "edit"}}>{{chapter.name}}</div>
                <button class="btn btn-small no-text" {{action "edit"}}>
                  {{fa-icon "pencil"}}
                </button>
                <button class="btn btn-small no-text btn-danger" {{action "destroy"}}>
                  {{fa-icon "trash-o"}}
                </button>
                {{#if chapter.sections}}
                  <div class="sections">
                    {{#each section in chapter.sections}}
                      <div class="section">
                        <i>{{section.name}}</i>
                      </div>
                    {{/each}}
                  </div>
                {{/if}}
              {{/if}}
            {{/each}}
          {{else}}
            <p>{{i18n "admin.toc.chapter.none"}}</p>
          {{/if}}
          <button class="btn btn-small" {{action "createChapter"}}>
            {{fa-icon "plus"}}
            {{i18n "admin.toc.chapter.add"}}
          </button>
        {{/if}}
      {{/each}}
    {{else}}
      <p>{{i18n "admin.toc.part.none"}}</p>
    {{/if}}

    <button class="btn" {{action "createPart"}}>
      <i class="fa fa-plus"></i>
      {{i18n "admin.toc.part.create"}}
    </button>
  </div>
</div>
