{{#each guide in model.guides}}
  <div class="mb+">
    <h3 class="mb-">
      <a href="/guides/{{guide.slug}}" class="color--primary">{{guide.name}}</a>
    </h3>
    <p class="mb-">
      _ {{guide.description}}
    </p>
    <div class="grid grid--middle">
      <div class="grid__item col-1-2">
        <ul class="list--unstyled">
          {{#each chapter in (limit guide.chapters 4)}}
            <li>
              <a href={{chapter.href}}>- {{chapter.name}}</a>
            </li>
          {{/each}}
          <li>
            <a href="/guides/{{guide.slug}}" class="color--primary">More...</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{{/each}}
